<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuite name="Testsuite">
        <directory>./tests/</directory>
    </testsuite>
    <php>
        <env name="DB_DRIVER" value="mysql" />
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_DATABASE" value="hyperf" />
        <env name="DB_USERNAME" value="root" />
        <env name="DB_PASSWORD" value="" />
        <env name="DB_CHARSET" value="utf8" />
        <env name="DB_COLLATION" value="utf8_unicode_ci" />
        <env name="DB_PREFIX" value="" />
    </php>
</phpunit>